*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #EE9CA7,  #FFDDE1);
    font-family: sans-serif;

}

.test{
    color: black;
    line-height: 10rem;
    text-align: center;

}

span{
    background-color: azure;
    padding: 1rem;
    border-radius: 8px ;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 2);
    margin: 0.5rem;
    display: inline-block;
    transition: transform 0.2s;
    width: 150px;
}

span:hover{
    transform: scale(1.05);
}

.indicator{
    background: linear-gradient(to right, red, orange, yellow, green);
    height: 20px;
    border-radius: 4px;
    width: 5%;
    position: fixed;
}



